<div content-for="title">
    <span>Мои данные</span>
</div>

<div class="scrollable" ng-controller="ProfileController">
    <div class="scrollable-content">
        <div bs-panel title="">
            <div class="btn-group justified">
                <label class="col-xs-3 col-sm-2 col-lg-1" for="login">Логин</label>
                <span id="login" class="col-xs-9 col-sm-10 col-lg-11">{{profile.card}}</span>
            </div>
            <div class="btn-group justified">
                <label class="col-xs-3 col-sm-2 col-lg-1" for="level">Уровень</label>
                <span id="level" class="col-xs-9 col-sm-10 col-lg-11">{{profile.discount_level}}</span>
            </div>
            <div class="btn-group justified">
                <label class="col-xs-3 col-sm-2 col-lg-1" for="city">Город</label>
                <span id="city" class="col-xs-9 col-sm-10 col-lg-11">Минск</span>
            </div>

            <input bs-form-control type="text" ng-model="profile.firstname" label="Имя" />
            <input bs-form-control type="text" ng-model="profile.lastname" label="Фамилия" />
            <input bs-form-control type="text" ng-model="profile.patronymic" label="Отчество" />
            <input bs-form-control type="text" ng-model="profile.mobile" label="Телефон" />
            <input bs-form-control type="text" ng-model="profile.email" label="Электронная почта" />
        </div>
        <div bs-panel class="form-actions">
            <div content-for="navbarAction" duplicate>
                <button ng-click="saveProfile()" class="btn btn-primary">
                    Сохранить
                </button>
            </div>
        </div>

        <div ng-show="isLoading" class="loading-indicator"></div>
    </div>
</div>