<div class="main-inner" ng-controller="BonusShareController">

    <div class="container">

        <div class="row">

            <div class="span12">

                <div class="widget ">

                    <div class="widget-header">
                        <i class="icon-user"></i>
                        <h3>Бренд: {{bonusInfo.brands}}</h3>
                    </div> <!-- /widget-header -->
                    <div class="widget-content">
                        <h3>Всего бонусов: {{bonusInfo.bonus | removeZeros}} </h3>
                    </div> <!-- /widget-header -->

                    <div class="widget-content">


                        <form id="edit-profile" class="form-horizontal" ng-show="!bonusShared">
                            <div class="alert alert-error"  ng-show="error">
                                <strong>{{message}}</strong>
                            </div>
                            <fieldset>

                                <div class="control-group">
                                    <div class="controls">
                                        <input type="text" class="span4" id="cardId" ng-model="targetCard" placeholder="Номер карты получателя">
                                    </div> <!-- /controls -->
                                </div> <!-- /control-group -->


                                <div class="control-group">
                                    <div class="controls">
                                        <input type="text" class="span4" id="bonusToShare" ng-model="sum" placeholder="Кол-во бонусов">
                                    </div> <!-- /controls -->
                                </div> <!-- /control-group -->

                                <div class="control-group">
                                    <div class="controls">
                                        <button type="submit" class="btn btn-primary" ng-click="exchangeBonuses(bonusInfo.id)">Передать бонусы</button>
                                    </div>		<!-- /controls -->
                                </div> <!-- /control-group -->


                            </fieldset>

                        </form>
                        <form class="form-inline" ng-show="bonusShared">
                            <div class="alert alert-success">
                                <strong>Бонусы успешно переданы!</strong>
                            </div>
                            <div class="control-group">
                                <span ><label class="control-label" for="result-brands">Брэнд:  </label></span>
                                <strong id="result-brands">{{shareBrands}}</strong>
                            </div>
                            <div class="control-group">
                                <span ><label class="control-label" for="result-card-for">Карта-получатель:  </label></span>
                                <strong id="result-card-for">{{shareCardFor}}</strong>
                            </div>
                            <div class="control-group">
                                <span ><label class="control-label" for="result-bonuses-for">Бонусов у получателя:  </label></span>
                                <strong id="result-bonuses-for">было {{bonusForBefore | removeZeros}}, стало {{bonusForAfter | removeZeros}}</strong>
                            </div>
                            <div class="control-group">
                                <span ><label class="control-label" for="result-card-mine">Мои бонусы	было:  </label></span>
                                <strong id="result-card-mine">было {{bonusMineBefore | removeZeros}}, стало {{bonusMineAfter | removeZeros}}</strong>
                            </div>
                            <button type="submit" class="btn btn-primary" ng-click="turnBack()">Передать бонусы еще раз</button>
                        </form>




                    </div> <!-- /widget-content -->

                </div> <!-- /widget -->

            </div> <!-- /span8 -->




        </div> <!-- /row -->

    </div> <!-- /container -->

</div> <!-- /main-inner -->