<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>VartaCarta - Profile Web Application</display-name>

    <filter>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <filter-class>by.vcarta.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>api2</servlet-name>
        <servlet-class>org.mitre.dsmiley.httpproxy.ProxyServlet</servlet-class>
        <init-param>
            <param-name>targetUri</param-name>
            <param-value>http://cabinet.vartacarta.by/api2</param-value>
        </init-param>
        <init-param>
            <param-name>log</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>by.vcarta.servlet.LogoutServlet</servlet-class>
        <init-param>
            <param-name>maxSize</param-name>
            <param-value>-1</param-value>
        </init-param>
        <init-param>
            <param-name>cookieLiveTime</param-name>
            <param-value>2592000</param-value>
        </init-param>
        <init-param>
            <param-name>cookiePath</param-name>
            <param-value>/</param-value>
        </init-param>
        <init-param>
            <param-name>cookieDomain</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>obsoleteCookieDomain</param-name>
            <param-value>vartacarta.by</param-value>
        </init-param>
        <init-param>
            <param-name>clearCookiesWithObsoleteDomain</param-name>
            <param-value>false</param-value>
        </init-param>

    </servlet>

    <servlet-mapping>
        <servlet-name>api2</servlet-name>
        <url-pattern>/api2/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>


</web-app>
